{% extends 'base.html.twig' %}
{% block main %}
	<div class="content_container">
		<div class="post">
			<h1 class="post-title">关于我</h1>
			<div class="post-content">
				<div class="author-page">
					<a href="javascript:;" class="photo">
					<img src="https://s.gravatar.com/avatar/09243e3df5e9b7f7f0e038b17764786f?s=180" data-bd-imgshare-binded="1"></a>
					<div class="author">
						<p>
							<i class="fa fa-user">name：</i>马帅(mash)
						</p>
						<p>
							<i class="fa fa-email">email：</i>
							<a href="mailto:402738923@qq.com" target="_blank">402738923@qq.com</a>
						</p>
						<p>
							<i class="fa fa-github">github：</i>
							<a href="https://github.com/mashmars" target="_blank">mashmars</a>
						</p>
						<p>
							<i class="fa fa-weibo">weibo：</i>
							<a href="javascript:void(0)" target="_blank">没有使用</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}